
.header .header__logo a{
    color: #000;
}
.header__main_link ul li a {
    color: #000;
}
.header__right_info a {
    color: #000;
}
main {
    
    padding: 0px 80px;
}
main{
    position: relative;
    z-index: 1;
    margin-bottom: 560px;
    background-color: #fff;
    min-height: 800px;
    padding-top: 100px;
    padding-bottom: 60px;
  }

.card_tov {
    border-top: 1px solid #e8e8e8;
    padding: 20px;
    
}

.main__link {
    position: relative;
    /* border-bottom: 1px solid #000; */
    display: inline-block;
   display: flex;
   column-gap: 10px;
   width: 200px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
.main__link::before {
    position: absolute;
    content: '';
    width: 210%;
    height: 1px;
    background-color: #000;
    bottom: 0px;
    left: -200px;
}
.main__link a {
    color: #cccccc;
    font-size: 12px;
}
.main__link a:hover{
    color: #000;
}
.main__link span{
    position: relative;
}

.main__link span::before {
position: absolute;
content: '';
width: 1px;
height: 14px;
background-color: #ccc;

top: 50%;
transform: translateY(-50%) rotate(30deg);
left: 0px;
}
.main__link .active {
    color: #000;
    pointer-events: none
}


.order_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    /* column-gap: 40px; */
}
.form__order {
    width: 64%;
    padding: 10px 3%;
    margin-right: 2%;
    background-color: #fff;
    border: 1px solid #ebedef;
    padding-bottom: 100px;
 
}
.order_wrapper {
    margin-bottom: 100px;
}
.basket__order {
    width: 34%;
    border: 1px solid #ebedef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 
}
.form__order_title {
    color: #000;
    border-bottom: 1px solid #000;
    width: 40%;
    padding: 20px 45px;
}
.form__order_title span{
    text-transform: uppercase;
    font-size: 16px;
}
.data__order {
    margin-top: 40px;
    display: flex;
    column-gap: 30px;
}
.basket__order_title{
    color: #000;
    /* border-bottom: 1px solid #e5e5e5; */
    margin: 20px 45px 0;
    padding-bottom: 20px;
}
.main__form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.main__form input{
    border: 1px solid #000;
    background-color: transparent;
    padding: 5px 20px;
    outline: none;
    height: 51px;
    font-size: 14px;
    border-color: #e8e8e8;
   
}
.main__form {
    margin-top: 20px;
    /* width: 90%; */
}
.main__form_duble{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
   
}
.main__form_duble label{
    width: 100%;
}
.main__form_duble input {
 width: 100%;
}
.main__form_one label,
.main__form_one input{
    width: 100%;
}

.main__form_one textarea{
    height: 120px;
    width: 100%;
    resize: none;
    padding: 18px 20px;
    border: 1px solid #e8e8e8;;
}
.basket__carts {
    padding: 7px 25px 7px 30px;
}
.total{
    padding: 7px 25px 7px 30px;
}


.basket__carts {
    display: flex;
    flex-direction: column;
}



.card_tov {
    display: flex;
    justify-content: space-between;
}
.card_tov .name {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}
.basket__card_del {
    padding: 0px 10px;
    background-color: transparent;
    /* border: none; */
    cursor: pointer;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
}
.basket__carts_wrapper {
    position: relative;
    padding-bottom: 20px;
}
.basket__carts {
    display: flex;
    overflow-y: scroll;
    max-height: 300px;
    height: 100%;
}
.basket__order {
    position: sticky;
    top: 0;
    left: 0;
    max-height: 465px;
}
.basket__order_bottom {
    background-color: #eaf9f1;
    padding: 20px 0px;
    border: 1px solid #e8e8e8;
}

.total {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 24px;
}

.img_tovar img{
    width: 90px;
}
.card_tov_left {
    display: flex;
    column-gap: 20px;
}

.basket__order_bottom_btn button {
    margin-top: 20px;
    width: 100%;
    padding: 15px 0px;
    background-color: #d6f4e4;
    border: 1px solid #000;
    cursor: pointer;
}
.basket__carts .size{
    margin-bottom: 10px;
}

.counter_wrapper {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    
}
.color {
    margin-bottom: 10px;
}
.counter_wrapper button{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: transparent;
    font-size: 22px;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.minus::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 1px;
    background-color: #000;
}

.plus::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 1px;
    background-color: #000;
}
.plus::after {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 10px;
    width: 1px;
    background-color: #000;
}
