
.card {
  width: 200px;
  height: 400px;
}
.card img {
  width: 100%;
}
.catalog__filter {
  min-width: 20%;
}
.catalog__content {
  min-width: 80%;
}

.tov {
  display: flex;
  column-gap: 40px;
}
.header .header__logo a {
  color: #000;
}
.header__main_link ul li a {
  color: #000;
}
.header__right_info a {
  color: #000;
}
.header {
  padding: 2vh 6vw;
}
main {
  padding: 0px 80px;
  padding: 2vh 6vw;
  max-width: 100vw;
}
main {
  position: relative;
  z-index: 1;
  margin-bottom: 560px;
  background-color: #fff;
  padding-top: 100px;
  min-height: 100vh;
}
.main__link {
  position: relative;
  /* border-bottom: 1px solid #000; */
  display: inline-block;
  display: flex;
  column-gap: 10px;
  width: 200px;
  margin-bottom: 40px;
  padding-bottom: 10px;
}
.main__link::before {
  position: absolute;
  content: "";
  width: 210%;
  height: 1px;
  background-color: #000;
  bottom: 0px;
  left: -200px;
}
.main__link a {
  color: #cccccc;
  font-size: 12px;
}
.main__link a:hover {
  color: #000;
}
.main__link span {
  position: relative;
}

.main__link span::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 14px;
  background-color: #ccc;

  top: 50%;
  transform: translateY(-50%) rotate(30deg);
  left: 0px;
}

.main__content {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: #f7f8fa;
  height: inherit;
  width: inherit;
}

.card__img {
  position: relative;
}
.card img {
  width: 300px;
}
.item__image1 {
  transition: 0.5s all ease;
}
.item__image2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s all ease;
}
.card__img_info {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card__img_info .new__info {
  font-size: 12px;
  line-height: 21px;
  padding: 0 8px;
  background-color: #000;
  color: #fff;
  border-radius: 10px;
  border-top-left-radius: 0px;
  text-transform: uppercase;
  font-weight: 700;
}
.card__img_info .new__info_sale {
  font-size: 12px;
  line-height: 21px;
  padding: 0 8px;
  background-color: #e04f4f;
  color: #fff;
  margin-top: 5px;
}

.card:hover .item__image2 {
  opacity: 1;
  transition: 0.5s all ease;
}
.card:hover .item__image1 {
  opacity: 0;
  transition: 0.5s all ease;
}
.card__desc {
  /* text-align: center; */
  padding: 10px;
  background-color: #f7f8fa;
}

.card__desc p:nth-child(1) {
  margin-bottom: 10px;
  /* margin-top: 5px; */
  /* font-size: 14px; */
  /* color: #ccc; */
}
.card__desc p:nth-child(2) {
  margin-top: 8px;
  color: #212529;
  font-weight: 500;
  margin-bottom: 10px;
}
.prices span:nth-child(1) {
  text-decoration: line-through;
  font-size: 14px;
}
.prices span:nth-child(2) {
  /* color: #f80a0a; */
  /* font-size: 14px; */
  font-weight: 600;
}
.sale_red span {
  color: #fff;
  background-color: #d51212;
  padding: 2px 5px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  font-size: 14px;
}
.prices {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.count_colors {
  color: #cacaca;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main__content {
  display: flex;
  /* flex-wrap: wrap; */
  column-gap: 70px;
}

.tov {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.catalog__filter {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  /* justify-content: center; */
  align-items: center;
  padding-top: 70px;
}

.filter_top select {
  border: 1px solid #383838;
  position: relative;
  padding: 5px 20px;
  min-width: 205px;
}

.select {
  position: relative;
  display: inline-block;
}
.select:after {
  content: "▼";
  padding: 0 8px;
  font-size: 8px;
  position: absolute;
  right: 8px;
  top: 9px;
  z-index: 1;
  text-align: center;
  width: 10%;
  height: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
select {
  cursor: pointer;
  padding-right: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.filter_top {
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
  margin-bottom: 40px;
}
.search_input {
  border: 1px solid #383838;
  position: relative;
  padding: 10px 20px;
  width: 100%;
}
.search_input:focus {
  outline: none;
}

.catalog__content {
  min-width: 75%;
}
.main__link .active {
  color: #000;
  pointer-events: none;
}
.choise__category {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* padding: 0px 15px; */
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
}
.choise__category button {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #383838;
  cursor: pointer;
}
.btnProduct {
  width: 48%;
}
.pagination__wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  column-gap: 40px;
  align-items: center;
}
.pagination__wrapper button{
  padding: 10px;
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
}
.pagination__wrapper button:hover {
  background-color: #000;
  color: #fff;
}

.disable {
  color: #ccc !important;
  border: 1px solid #ccc !important;
  pointer-events: none;
}




.sort__to_price {
  width: 100%;
}
.price_diapazon {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.noUi-touch-area {
  cursor: grab;
}
.show__btn {
  margin-top: 20px;
  width: 100%;
}
.show__btn button{
  background-color: transparent;
  border: 1px solid #000;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}
.show__btn button:hover {
  cursor: pointer;
  background-color: #000;
  color: #fff;
}

.noUi-connect {
  background: #000 !important;
}
.main__content {
  max-width: 1254px;
  margin: 0 auto;
}







.color-checkbox {
  display: none;
}

.color-checkbox + label {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  /* left: 50%; */
}

.color-checkbox:checked + label {
  border-color: #333;
  /* border-width: 4px; */
}
.color-checkbox:checked + label::before {
  content: '\2713';
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.color-checkbox + label:hover {
  border-color: #666;
}
.color-option {
  /* padding: 10px; */
  width: 85px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
.color-option label  {
display: flex;
justify-content: center;
}
.color-option label span {
  margin-top: 25px;
  /* position: absolute;
  top: 26px;
  left: -100%; */
  /* transform: translateX(-50%); */
}

.filter__selector_color {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
 row-gap: 20px;
}

.color_cart {
  margin-top: 8px;
}