
footer {
    /* height: 900px; */
    background-color: #000;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    padding: 40px 60px;
   
    padding-top: 60px;
    color: #fff;
  }
  .footer h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .footer a {
    color: #fff;
  }
  .footer__info p {
    font: 12px;
  }
  .footer__info {
    max-width: 351px;
  }
  .footer__company ul,
  .footer__client ul {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .footer__contact div{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }
  .oclockFooter {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
  .sex-items {
    display: flex;
    align-items: center;
    margin-top: 14px;
  }
  .sex-items input{
    display: none;
  }
  .sex-items input + label{
    
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 0;
  }
  
  .sex-items input + label::before {
    content: '';
    background: none;
    margin-right: 15px;
    width: 18px;
    flex: 0 0 18px;
    height: 18px;
    border: 1px solid var(--input-element-color, #cdd0d4);
    border-radius: 50%;
  }
  
  .sex-items input:checked + label::after {
    content: '';
    background: var(--input-element-color, #cdd0d4);
    width: 10px;
    height: 10px;
    flex: 0 0 10px;
    position: absolute;
    left: 5px;
    top: 5px;
    /* transform: translate(-50%,-50%); */
    
    border-radius: 50%;
  }
  
  #sex-man + label{
    margin-left: 20px;
  }
  
  .submit-block input {
    border: none;
    flex: 0 1 100%;
    background-color: transparent;
    color: #fff;
    line-height: 25px;
    font-weight: 300;
    outline: none;
  }
  .submit-block button {
    border: none;
    flex: 0 0 37px;
    background-color: transparent;
    padding: 0;
    text-align: right;
  }
  .submit-block button svg {
    width: 22px;
    height: 21px;
    fill: #fff;
  }
  .submit-block {
    display: flex;
    border-bottom: 1px solid #fff;
    margin-top: 39px;
      max-width: 235px;
  }
  
  .footer__info_nav {
    margin-top: 50px;
  }
  
  .footer_logo {
    margin-top: 81px;
  }
  .footer_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .footer__bottom_link {
    margin-top: 10px;
    color: #545456;
  }
  .footer__bottom_link ul{
    display: flex;
    column-gap: 20px;
  }
  .footer__bottom_link ul a {
    font-size: 12px;
    color: #545456;
  }

  .footer__info_nav ul{
    display: flex;
    column-gap: 20px;
  }
  .contact__wrapper span,
  .contact__wrapper span a{
    display: flex;
    column-gap: 15px;
  }
  .footer_wrapper_first {
    display: flex;
    column-gap: 60px;
  }
  .footer_wrapper_second {
    display: flex;
    column-gap: 60px;
  }
  .footer_wrapper_tel {
    display: none;
  }






.footer__acardion {
  margin-top: 40px;
}
.hide {
    display: none;
}
.footer__acardeon {
  width: 100%;
}

.footer__acardeon_item p{
    padding: 20px 0px;
    cursor: pointer;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.footer__acardeon_item {
  position: relative;
    width: 100%;
    margin: 0 auto;
 
    /* border-bottom: 1px solid #c7ced8; */
}
.footer__acardeon_item::before {
  position: absolute;
  content: '';
  width: 300%;
  height: 1px;
  background-color: #c7ced8;
  bottom: 0;
  left: -100%;
}
.footer__acardeon_simbol {
  transform: rotate(0deg);
  transition: 0.2s ease all;
}
.footer__acardeon_simbol.rotates {
transform: rotate(180deg);
transition: 0.2s ease all;
}
.footer__acardeon_item_text {
  padding: 20px 0px;

}
.footer__acardion ul{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  
}
.footer__acardion .contact__wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  
}
.footer_wrapper_tel .footer__info_nav ul{
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.footer_wrapper_tel .footer__info_nav ul {
  font-size: 26px;
}
.footer_wrapper_tel .footer__bottom_link ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}
.footer_wrapper_tel .footer__bottom_link ul li {
  text-align: center;
}
.footer_wrapper_tel .footer__bottom_link ul .vito_footer{
 font-size: 24px;
 opacity: 1;
 color: #fff;
}
.footer_wrapper_tel .footer__bottom_link {
  margin-top: 40px;
}