@media (max-width: 1980px){
    
}
@media (max-width: 1630px){

}
@media (max-width: 1400px){

}
@media (max-width: 1268px){
    .form__order_title {
        width: 50%;
    }
}
@media (max-width: 1199px){
   .order_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
   }
   .form__order {
       width: 600px;
       margin-right: 0px;
   }
   .basket__order{
       width: 600px;
   }
}

@media (max-width: 660px){
    .basket__order,
    .form__order{
        width: 530px;
    }
    .form__order_title {
        padding-right: 0px;
    }
}
@media (max-width: 576px){
    .basket__order,
    .form__order{
        width: 400px;
    }
    main {
        padding: 80px 30px;
    }
    .form__order_title {
        width: 66%;
    }
}
@media (max-width: 430px){
    main {
        padding: 80px 21px;
    }
    .basket__order,
    .form__order{
        width: 350px;
        padding: 0px 20px;
    }
    .main__form_duble {
        flex-direction: column;
        row-gap: 20px;
    }
    .form__order_title {
        width: 75%;
    }
    .card_tov_left {
        column-gap: 10px;
    }
    .img_tovar img {
        width: 50px;
    }
    .card_tov .name {
        font-size: 14px;
    }
    .title_cart {
        font-size: 14px;
    }
}