@media (max-width: 1980px){
    
}
@media (max-width: 1630px){

}
@media (max-width: 1420px){
    .catalog__content {
        min-width: 65%;
    }
    .catalog__filter {
        min-width: 21%;
    }
}
@media (max-width: 1352px){
    .btnProduct {
        width: 46%;
    }
}
@media (max-width: 1120px){
    .choise__category button {
        font-size: 12px;
        padding: 8px;
    }
}
@media (max-width: 992px){

    .main__content {
        width: 620px;
    }
    .main__content {
        flex-direction: column-reverse;
    }
    .filter_top {
        justify-content: flex-start;
    }
    .catalog__filter {
        margin: 0 auto; 
        width: 400px;
        padding-top: 20px;
    }
    .filter_top select {
        min-width: 194px;
    }
}
@media (max-width: 768px){
    .catalog__filter {
        width: 300px;
    }
    .main__content {
        width: 520px;
    }
   .filter_top {
    flex-wrap: wrap;
    row-gap: 20px;
   }
   .card {
       width: 250px;
   }
   .card img {
    width: 100%;
   }
}
@media (max-width: 576px){
    .main__content {
        width: 340px;
    }
    .card {
        width: 160px;
    }
    .filter_top select {
        min-width: 156px;
    }
}
@media (max-width: 430px){
    .card {
        width: 280px;
    }
    .tov {
        justify-content: center;
    }
}