@media (max-width: 1980px){
    
}
@media (max-width: 1630px){

}
@media (max-width: 1400px){
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 36px) !important;
    }
    .mySwiper .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 40%) !important;
    }
    .mySwiper .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 40%) !important;
    }
}
@media (max-width: 1200px){
 .new__collection {
     padding: 230px 0px;
 }
}
@media (max-width: 992px){
    .mySwiper .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 37%) !important;
    }
    .mySwiper .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 37%) !important;
    }
}
@media (max-width: 768px){
    .new__product {
        margin: 60px 0px;
        padding: 0px 20px;
    }
    /* .swiper-wrapper {
        height: 240px !important;
    } */
    .new__collection {
        padding: 130px 0px;
    }
    .mySwiper .swiper-button-next, .swiper-button-prev {
        padding: 12px;
    }
    .swiper-button-next:after, .swiper-button-prev:after  {
        font-size: 10px;
    }
    .mySwiper .swiper-button-next, .swiper-button-prev {
        top: var(--swiper-navigation-top-offset, 90.8%) !important;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 25px) !important;
    }
    .mySwiper .swiper-pagination-bullet {
        width: 20px !important;
        height: 2px !important;
        background-color: #fff !important;
        border-radius: 0px !important;
    }
    .autoplay-progress span{
        font-size: 10px;
    }
    .autoplay-progress {
        width: 30px;
    }
    .new__collection {
        margin-top: 0px;
    }
    .main__desc_info {
        margin-top: 0px;
    }
}

@media (max-width: 576px){
    .mySwiper .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: var(--swiper-navigation-sides-offset, 32%) !important;
    }
    .mySwiper .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: var(--swiper-navigation-sides-offset, 32%) !important;
    }
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 35px) !important;
    }
    .mySwiper .swiper-button-next, .swiper-button-prev {
        top: var(--swiper-navigation-top-offset, 95%) !important;
    }
    .main__desc h2 {
        font-size: 20px;
    }
    .main__desc_info h3 {
        font-size: 16px;
    }
    .main__desc_info p {
        font-size: 14px;
    }
}
@media (max-width: 429px){
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: var(--swiper-pagination-bottom, 31px) !important;
    }
}