@media (max-width: 1980px){
    
}
@media (max-width: 1630px){

}
@media (max-width: 1400px){

}
@media (max-width: 1200px){
 
}
@media (max-width: 992px){
    .characteristics_info{
        column-gap: 40px;
    }
}
@media (max-width: 768px){
    .main__wrapper_flex {
        flex-direction: column;
        row-gap: 40px;
        align-items: center;
    }
    main {
        margin-top: 75px;
        padding: 0px 40px;
    }
    .main__galery {
        width: 100%;
    }
    .wrapper__tovar_size {
        margin-top: 0;
    }
    .characteristics_info {
        flex-direction: column;
        row-gap: 20px;
    }
   .main__desc_tovar_header {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto; 
    white-space: nowrap; 
   }
    .main__desc_tovar_header ul {
        white-space: nowrap;
    }
}

@media (max-width: 576px){
    main {
        margin-top: 54px;
        padding: 20px 40px;
    }
    .main__desc_tovar_header ul {
        justify-content: flex-start;
    }
}
@media (max-width: 430px){
    main {
        padding: 20px 20px;
    }
    .delivery_img {
        column-gap: 40px;
    }
}